@import url("https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;700&display=swap");

body {
  margin: 0;
  font-family: "Google Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35));
}
